
.DS_Store
.idea/*
src/.idea/*
src/Kafka.Connect.Plugin/bin/*
src/Kafka.Connect.Plugin/obj/*
src/Kafka.Connect/bin/*
src/Kafka.Connect/obj/*
src/Kafka.sln.DotSettings.user
src/Plugins/*/bin/*
src/Plugins/*/obj/*
src/Tests/*/bin/*
src/Tests/*/obj/*
src/Tests/Kafka.Connect.Data.Generator/*
src/Tests/Kafka.Connect.Mongodb.FunctionalTests/*
plugins/*