<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="github" value="https://nuget.pkg.github.com/roshan-picardo/index.json" />
  </packageSources>
   <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="digital-platform">
            <package pattern="DHP.*" />
            <package pattern="*DigitalPlatform*" />
            <package pattern="CommBank.*" />
            <package pattern="Switchblade.*" />
            <package pattern="cba.*" />
            <!-- Add another package name pattern if you need another "digital-platform" repo based nuget which is not covered by the patterns above. -->
        </packageSource>
    </packageSourceMapping>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="%GITHUB_USERNAME%" />
      <add key="ClearTextPassword" value="%GITHUB_TOKEN%" />
    </github>
  </packageSourceCredentials>
</configuration>