<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <packageSources>
    <clear />
    <add key="nuget.org" value="https://artifactory.internal.cba/api/nuget/nuget.org" protocolVersion="2" />
    <add key="digital-platform" value="https://artifactory.internal.cba/api/nuget/digital-platform" protocolVersion="2" />
    <!-- Uncomment line below if using BankWest nuget repository -->
    <!-- <add key="bw-nexus" value="https://nexus3.bwainet.com/repository/nuget-group" protocolVersion="2" /> -->
  </packageSources>

  <!-- Define mappings by adding package patterns beneath the target source - see https://docs.microsoft.com/en-gb/nuget/consume-packages/package-source-mapping -->
  <!-- Defining where nuget packages should come from reduces / eliminates the  package dependency confusion or “substitution attack” vulnerabilities -->
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="digital-platform">
      <package pattern="DHP.*" />
      <package pattern="*DigitalPlatform*" />
      <package pattern="CommBank.*" />
      <package pattern="Switchblade.*" />
      <package pattern="cba.*" />
      <!-- Add another package name pattern if you need another "digital-platform" repo based nuget which is not covered by the patterns above. -->
    </packageSource>
  </packageSourceMapping>

  <packageSourceCredentials>
    <nuget.org>
      <add key="Username" value="%ARTIFACTORY_ENTERPRISE_USERNAME%" />
      <add key="cleartextpassword" value="%ARTIFACTORY_ENTERPRISE_APIKEY%" />
    </nuget.org>
    <digital-platform>
      <add key="Username" value="%ARTIFACTORY_ENTERPRISE_USERNAME%" />
      <add key="cleartextpassword" value="%ARTIFACTORY_ENTERPRISE_APIKEY%" />
    </digital-platform>
    <!-- Uncomment bw-nexus element if using BankWest nuget repository -->
    <!-- <bw-nexus>
        <add key="Username" value="%NEXUS_USERNAME%" />
        <add key="cleartextpassword" value="%NEXUS_PAT%" />
    </bw-nexus> -->
  </packageSourceCredentials>

</configuration>
