<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://artifactory.internal.cba/api/nuget/nuget.org" />
  </packageSources>
  <packageSourceCredentials>
    <nuget.org>
      <add key="Username" value="%ARTIFACTORY_USER_NAME%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_API_KEY%" />
    </nuget.org>
  </packageSourceCredentials>
</configuration>